<div class="row">
    <div class="col-md-12">
        <h3>
            Email Notifications


        </h3>
        <p class="help-block">
            Enable Konga to send email notifications to administrators.
        </p>
        <div class="form-group">
            <input
                    bs-switch
                    ng-model="konga_settings.email_notifications"
                    type="checkbox"
                    switch-on-text="ENABLED"
                    switch-off-text="DISABLED"
                    ng-change="updateKongaSettings()"
            >
        </div>
        <br>
        <div ng-show="konga_settings.email_notifications">
            <h5>Transports</h5>
            <p class="help-block">
                Configure email transports and select the one to use.
            </p>
            <div class="row">
                <div class="col-md-4" data-ng-repeat="transport in transports">
                    <div class="panel" ng-class="{'panel-primary' : konga_settings.default_transport == transport.name,'panel-default' : konga_settings.default_transport != transport.name}">
                        <div class="panel-heading">
                            <div class="panel-title" >
                                <div class="pull-left clickable" data-ng-click="setDefaultTransport(transport.name)">
                                    <i class="material-icons">{{konga_settings.default_transport == transport.name ? '&#xE834;' : '&#xE835;'}}</i>
                                    {{transport.name.toUpperCase()}}
                                </div>

                                <div class="pull-right">
                                    <button class="btn btn-link btn-sm"
                                            data-ng-click="configureTransport(transport)"
                                            data-ng-class="{'text-white':konga_settings.default_transport == transport.name}"
                                    >
                                        <i class="material-icons">settings</i>
                                        configure
                                    </button>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="help-block elipsize">{{transport.description}}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Notify me when</h5>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr
                                    data-ng-repeat="(key,value) in konga_settings.notify_when">
                                <td width="1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-change="updateKongaSettings()" ng-model="value.active">
                                        </label>
                                    </div>
                                </td>
                                <td data-ng-bind-html="value.description"></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>