<footer>
    <div class="navbar navbar-footer navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a>
                        v.{{konga_version}}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/pantsel/konga" target="_blank">
                        <i class="fa fa-github"></i>GitHub
                    </a>
                </li>
                <li>
                    <a href="https://github.com/pantsel/konga/issues" target="_blank">
                        <i class="material-icons">bug_report</i>Issues
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-show="isAuthenticated()">
                    <a class="clickable" data-ng-click="showConnectionsModal()">
                        <i class="material-icons">cast_connected</i>
                        {{user.node.kong_admin_url}}
                        |
                        Kong version : <strong>{{user.node.kong_version.split("-").join(".")}}</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>