<div class="modal-header primary">
    <h4 class="modal-title" id="modal-title">
        Import Consumers
        <a  class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
    <h5>Select source</h5>
    <p class="help-block no-margin">Select the source from which to import consumers</p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a  ng-click="onStorageSelected(key)"
               class="list-group-item"
               data-ng-repeat="(key,item) in adapters">
                <p class="list-group-item-heading"><strong>{{item.name}}</strong></p>
                <p class="list-group-item-text help-block">{{item.description}}</p>
            </a>
        </div>
    </div>
</div>