<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        Import Consumers
        <a href="#" class="modal-close pull-right" ng-click="close()">
            <i class="material-icons ">clear</i>
        </a>
    </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
    <h5 class="no-margin">{{steps[activeStep].heading}}</h5>
    <p class="help-block" data-ng-bind-html="steps[activeStep].description"></p>
    <p data-ng-show="configuration.adapter"
       class="no-margin"
       >
        <strong>Storage: {{configuration.adapter}}</strong>
    </p>
</div>
<div class="row" data-ng-show="activeStep == 0">
    <div class="col-md-12">
        <div class="list-group">
            <a href="#" ng-click="selectAdapter(key)"
               class="list-group-item"
               data-ng-repeat="(key,item) in adapters">
                <p class="list-group-item-heading"><strong>{{item.name}}</strong></p>
                <p class="list-group-item-text help-block">{{item.description}}</p>
            </a>
        </div>
    </div>

</div>
<div class="modal-body">
    <div data-ng-show="activeStep == 1">
        <form class="form-horizontal" name="connOptionsForm" novalidate>
            <div class="form-group"
                 ng-class="{ 'has-error' : connOptionsForm[field.value].$invalid }"
                 data-ng-repeat="field in adapters[configuration.adapter].form_fields">
                <label class="col-sm-4 control-label capitalize">
                    {{field.name}}<br>
                    <span class="text-muted text-medium">{{field.required ? 'required' : 'optional'}}</span>
                </label>
                <div class="col-sm-7">
                    <input ng-required='field.required' class="form-control" ng-model="field.value"/>
                    <p class="help-block text-danger" ng-show="connOptionsForm[field.value].$invalid">Valid Email Address Required</p>
                    <p class="help-block" data-ng-bind-html="field.description"></p>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                    <button type="submit" data-ng-disabled="busy" class="btn btn-warning" ng-click="back()">
                        previous step
                    </button>
                    <button type="submit" data-ng-disabled="busy" class="btn btn-primary" ng-click="testConnection()">
                        <fading-circle-spinner class="spinner spinner-invert pull-left" ng-if="busy"></fading-circle-spinner>
                        next step
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div data-ng-show="activeStep == 2">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">username field</label>
                <div class="col-sm-7">
                    <input class="form-control" ng-model="configuration.consumer_fields.username"/>
                    <p class="help-block">
                        Type the name of the remote storage data field that will be hooked up with
                        the consumer's <code>username</code> field.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">custom_id field</label>
                <div class="col-sm-7">
                    <input class="form-control" ng-model="configuration.consumer_fields.custom_id"/>
                    <p class="help-block">
                        Type the name of the remote storage data field that will be hooked up with
                        the consumer's <code>custom_id</code> field.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                    <button type="submit" data-ng-disabled="busy" class="btn btn-warning" ng-click="back()">
                        previous step
                    </button>
                    <button type="submit" data-ng-disabled="busy" class="btn btn-primary" ng-click="fetchConsumers()">
                        <fading-circle-spinner class="spinner spinner-invert pull-left" ng-if="busy"></fading-circle-spinner>
                        next step
                    </button>
                </div>
            </div>

        </form>
    </div>
    <div data-ng-show="activeStep == 3">
        <div class="actions">
            <button type="submit" data-ng-disabled="busy" class="btn btn-warning" ng-click="">
                import selected
            </button>
            <button type="submit" data-ng-disabled="busy" class="btn btn-primary" ng-click="">
                import all
            </button>
        </div>

        <table class="table table-condensed table-striped">
            <tr>
                <th><input type="checkbox" ng-model="item.checked"/></th>
                <th>username</th>
                <th>custom_id</th>
            </tr>
            <tr data-ng-repeat="item in remote_consumers">
                <td>
                    <input type="checkbox" ng-model="item.checked"/>
                </td>
                <td>{{item.username}}</td>
                <td>{{item.custom_id}}</td>
            </tr>
        </table>
    </div>
</div>