<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        Import Consumers
        <a href="#" class="modal-close pull-right" ng-click="closeModal()">
            <i class="material-icons ">clear</i>
        </a>
    </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
    <h5 class="no-margin capitalize">{{adapter.name}} Connection options</h5>
    <p class="help-block">Define connection options to the remote storage.</p>
</div>
<div class="modal-body">
    <form name="connOptionsForm" novalidate>
        <div class="row">
            <div class="col-md-6">
                <h5>Database Connection</h5>
                <div class="form-group"
                     data-ng-repeat="(key,field) in adapter.form_fields.connection">
                    <input ng-required='field.required'
                           placeholder="{{field.name}} ({{field.required ? 'required' : 'optional'}})"
                           class="form-control" ng-model="connOptions[key]"/>
                    <p class="help-block" data-ng-bind-html="field.description"></p>

                </div>
            </div>
            <div class="col-md-6">
                <h5>Consumer Hook</h5>
                <div class="form-group"
                     data-ng-repeat="(key,field) in adapter.form_fields.consumer">
                    <input ng-required='field.required'
                           placeholder="{{field.name}} ({{field.required ? 'required' : 'optional'}})"
                           class="form-control" ng-model="connOptions[key]"/>
                    <p class="help-block" data-ng-bind-html="field.description"></p>

                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer padding">
    <button type="button" data-ng-click="closeModal()" data-ng-disabled="busy" class="btn btn-warning">
        <i class="material-icons">close</i>
        cancel
    </button>
    <button type="button" data-ng-disabled="busy" class="btn btn-primary" data-ng-click="loadConsumers()">
        <fading-circle-spinner class="spinner spinner-invert pull-left" ng-if="busy"></fading-circle-spinner>
        <i class="material-icons" ng-if="!busy">storage</i>
        load consumers
    </button>
</div>