<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        Edit Consumer
        <a  class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h4>
</div>

<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group" ng-class="{'has-error' : errors.username}">
            <label class="col-sm-4 control-label">username <br><em><small class="help-block">semi-optional</small></em></label>
            <div class="col-sm-7">
                <input ng-model="consumer.username" class="form-control">
                <div class="text-danger" ng-if="errors.username" data-ng-bind="errors.username"></div>
                <p class="help-block">The username of the consumer. You must send either this field or <code>custom_id</code> with the request.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : errors.custom_id}">
            <label class="col-sm-4 control-label">custom_id <br><em><small class="help-block">semi-optional</small></em></label>
            <div class="col-sm-7">
                <input ng-model="consumer.custom_id" class="form-control">
                <div class="text-danger" ng-if="errors.custom_id" data-ng-bind="errors.custom_id"></div>
                <p class="help-block">Field for storing an existing ID for the consumer, useful for mapping Kong with users in your existing database. You must send either this field or <code>username</code> with the request.</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="submit" class="btn btn-primary" ng-click="submit()">
                    <i class="mdi mdi-check"></i>
                    Submit Changes
                </button>
            </div>
        </div>

    </form>
</div>