
<div class="row">
    <div class="col-md-12 actions">
        <button class="btn btn-success" ng-click="openCreateConsumerModal()">
            <i class="material-icons">&#xE145;</i>
            Create
        </button>
        <button
           class="btn btn-warning" ng-click="importConsumers()">
            <i class="material-icons"><i class="material-icons">&#xE2C6;</i></i>
            Import
        </button>
        <button class="btn btn-danger" data-ng-disabled="deleting" ng-click="deleteChecked()">
            <fading-circle-spinner class="spinner spinner-invert pull-left" data-ng-show="deleting"></fading-circle-spinner>
            <i class="material-icons" data-ng-show="!deleting">delete</i>
            delete selected
        </button>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="bg-light-grey padding clearfix">
            <list-search
                    class="pull-left margin-right"
                    data-filters="filters"
                    data-options="itemsPerPageOptions"
                    data-items="itemsPerPage"
            ></list-search>
        </div>
    </div>

</div>

<konga-loader ng-if="loading && !items.length"></konga-loader>
<div class="row" ng-if="!loading || items.length">
    <div class="col-md-12">
        <div
                class="table-responsive"
                data-ng-include="'js/app/consumers/partials/consumers-table.html'">
        </div>
    </div>
</div>

