
.DS_STORE
.netbeans
nbproject
.idea
.node_history
frontend/.tmp
frontend/node_modules
backend/.tmp
backend/node_modules
backend/config/local.js
node_modules
npm-debug.log
frontend/npm-debug.log
_README.md
frontend/config/config.json
backend/api/services/remote/credentials/google-spreadsheets

