<div class="bg-light-grey padding margin-bottom">
    <h4 class="clearfix">
        <i class="mdi mdi-information-outline"></i>
        Route details
    </h4>
</div>

<div ng-if="!user.hasPermission('routes','edit')">
    <div json-human="route" class="table-responsive"></div>
</div>

<form class="form-horizontal" ng-if="user.hasPermission('routes','edit')">
    <div ng-if="Gateway" data-ng-include="partial"></div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="button" class="btn btn-primary btn-block" ng-click="submit()">
                <i class="mdi mdi-check"></i>
                Submit changes
            </button>
        </div>
    </div>

</form>