<div class="modal-header primary">
    <h4 class="modal-title" id="modal-title">
        {{route && route.id ? "Update route" : "Add Route to " + service.name}}
        <a  class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>

    </h4>
</div>

<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div ng-if="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <div data-ng-include="partial"></div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary btn-block" ng-click="submit()">
                    <i class="mdi mdi-check"></i>
                    Submit Route
                </button>
            </div>
        </div>

    </form>
</div>