<div class="form-group" ng-class="{'has-error' : errors.host}">
    <label class="col-sm-4 control-label">Host <br><em><small class="help-block">semi-optional</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.host" class="form-control">
        <div class="text-danger" ng-if="errors.host" data-ng-bind="errors.host"></div>
        <p class="help-block">Your target API endpoint. For example: <code>example.com</code>.</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.port}">
    <label class="col-sm-4 control-label">Port <br><em><small class="help-block">semi-optional</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.port" class="form-control">
        <div class="text-danger" ng-if="errors.port" data-ng-bind="errors.port"></div>
        <p class="help-block">Your target API port. For example: <code>80</code>.</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.path}">
    <label class="col-sm-4 control-label">Path <br><em><small class="help-block">semi-optional</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.path" class="form-control">
        <div class="text-danger" ng-if="errors.path" data-ng-bind="errors.path"></div>
        <p class="help-block">Your target API path. For example: <code>/api</code>.</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.protocol}">
    <label class="col-sm-4 control-label">Protocol <br><em><small class="help-block">semi-optional</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.protocol" class="form-control">
        <div class="text-danger" ng-if="errors.protocol" data-ng-bind="errors.protocol"></div>
        <p class="help-block">Your target API protocol. One of <code>http</code> or <code>https</code>.</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.retries}">
    <label class="col-sm-4 control-label">Retries <br><em><small class="help-block">optional</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.retries" class="form-control">
        <div class="text-danger" ng-if="errors.retries" data-ng-bind="errors.retries"></div>
        <p class="help-block">The number of retries to execute upon failure to proxy. The default is <code>5</code>.</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.connect_timeout}">
    <label class="col-sm-4 control-label">Connect timeout <br><em><small class="help-block">optional</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.connect_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.connect_timeout" data-ng-bind="errors.connect_timeout"></div>
        <p class="help-block">The timeout in milliseconds for establishing a connection to your upstream service. Defaults to <code>60000</code></p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.write_timeout}">
    <label class="col-sm-4 control-label">Write timeout <br><em><small class="help-block">optional</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.write_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.write_timeout" data-ng-bind="errors.write_timeout"></div>
        <p class="help-block">The timeout in milliseconds between two successive write operations for transmitting a request to your upstream service. Defaults to <code>60000</code></p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.read_timeout}">
    <label class="col-sm-4 control-label">Read timeout <br><em><small class="help-block">optional</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.read_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.read_timeout" data-ng-bind="errors.read_timeout"></div>
        <p class="help-block">The timeout in milliseconds between two successive read operations for transmitting a request to your upstream service. Defaults to <code>60000</code></p>
    </div>
</div>