<div class="container">

  <div clas="panel panel-success">
    <div class="panel-body">
      <i class="mdi mdi-check-circle-outline mdi-48px"></i>
      <div class="clearfix"></div>
      <h3>Account activated</h3>
    </div>

  </div>

</div>
<script>
  window.enableLogs = <%=angularDebugEnabled%>;
  window.konga_version = "<%=konga_version%>";
</script>