<div class="row" data-ng-if="error">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>First things first</h1>
            <p>
                You will have to setup and activate a valid connection to a Kong Gateway.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" data-ui-sref="connections" role="button">
                    <i class="material-icons">settings</i>
                    Go to settings
                </a>
            </p>
        </div>
    </div>
</div>
<konga-loader message="Connecting to node. Please wait.." ng-if="loading && !error"></konga-loader>
<div class="row" data-ng-if="!loading && !error && info">

    <div class="col-md-8">
        <div class="panel panel-default" iln-match-height>
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="material-icons">cast_connected</i>&nbsp;
                    CONNECTIONS</div>
            </div>
            <div class="panel-body">
                <canvas id="server"
                        height="75"
                        class="chart chart-bar"
                        chart-data="data.server.data"
                        chart-labels="data.server.labels"
                        chart-options="data.server.options"
                        chart-series="data.server.series">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" iln-match-height>
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="material-icons">storage</i>&nbsp;
                    DATABASE</div>
            </div>
            <div class="panel-body">
                <canvas id="database"
                        class="chart-horizontal-bar"
                        chart-data="data.database.data"
                        chart-labels="data.database.labels"
                        chart-options="data.database.options"
                        chart-series="data.database.series">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" iln-match-height>
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="material-icons">schedule</i>&nbsp;
                    TIMERS</div>
            </div>
            <div class="panel-body">
                <canvas id="timers"
                        class="chart chart-bar"
                        chart-data="data.timers.data"
                        chart-labels="data.timers.labels"
                        chart-options="data.timers.options"
                        chart-series="data.timers.series">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" iln-match-height>
        <div class="panel-heading">
            <div class="panel-title">
                <i class="material-icons">info_outline</i>&nbsp;GATEWAY INFO</div>
        </div>
        <table class="table no-margin">
            <tr>
                <th>HostName</th>
                <td>{{info.hostname}}</td>
            </tr>
            <tr>
                <th>Tag Line</th>
                <td>{{info.tagline}}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{info.version}}</td>
            </tr>
            <tr>
                <th>LUA Version</th>
                <td>{{info.lua_version}}</td>
            </tr>
            <tr>
                <th>Admin listen</th>
                <td>{{info.configuration.admin_listen}}</td>
            </tr>
        </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" iln-match-height>
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="material-icons">info_outline</i>&nbsp;DATABASE INFO</div>
            </div>
            <table class="table no-margin">
                <tr>
                    <th>DBMS</th>
                    <td>{{info.configuration.database}}</td>
                </tr>
                <tr>
                    <th>Host</th>
                    <td>{{info.configuration.pg_host}}</td>
                </tr>
                <tr>
                    <th>Database</th>
                    <td>{{info.configuration.pg_database}}</td>
                </tr>
                <tr>
                    <th>User</th>
                    <td>{{info.configuration.pg_user}}</td>
                </tr>
                <tr>
                    <th>Port</th>
                    <td>{{info.configuration.pg_port}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="material-icons">device_hub</i>&nbsp;
                    CLUSTER ({{clusters.total}} nodes)</div>
            </div>
            <div class="panel-body no-padding table-responsive">
                <table class="table">
                    <tr>
                        <th width="1">status</th>
                        <th>name</th>
                        <th>address</th>

                    </tr>
                    <tr data-ng-repeat="cluster in clusters.data">
                        <td>
                        <span
                                data-ng-class="{'label-success' : cluster.status == 'alive','label-danger' : cluster.status == 'failed','label-warning' : cluster.status == 'left'}"
                                class="label">
                            {{cluster.status}}
                        </span>
                        </td>
                        <td width="50">{{cluster.name}}</td>
                        <td>{{cluster.address}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="material-icons">settings_input_component</i>&nbsp;
                    PLUGINS</div>
            </div>
            <div class="panel-body">
                <span class="label"
                      data-ng-class="{'label-default' : !isEnabled(key),'label-success' : isEnabled(key),}"
                      data-ng-repeat="(key,value) in info.plugins.available_on_server">
                    {{key}}
                </span>
            </div>
        </div>
    </div>
</div>


