<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="material-icons">info_outline</i>
            API details
        </div>
    </div>
    <div class="panel-body">
        <form class="">
            <div class="form-group highlight" ng-class="{'has-error' : errors.name}">
                <label class="control-label">Name <em>( <small class=text-muted">optional</small></em> )</label>
                <input ng-model="api.name" class="form-control">
                <div class="text-danger" ng-if="errors.name" data-ng-bind="errors.name"></div>
                <p class="help-block">The API name. If none is specified, will default to the <code>request_host</code> or <code>request_path</code>.</p>
            </div>
            <div class="form-group highlight" ng-class="{'has-error' : errors.request_host}">
                <label class="control-label">Request Host
                    <em>( <small class="text-muted">semi-optional</small> )</em></label>
                <input ng-model="api.request_host" class="form-control">
                <div class="text-danger" ng-if="errors.request_host" data-ng-bind="errors.request_host"></div>
                <p class="help-block">
                    The public DNS address that points to your API. For example, <code>mockbin.com</code>. At least <code>request_host</code> or <code>request_path</code> or both should be specified.
                </p>
            </div>
            <div class="form-group highlight" ng-class="{'has-error' : errors.request_path}">
                <label class="control-label">Request Path
                    <em>( <small class="text-muted">semi-optional</small> )</em></label>
                <input ng-model="api.request_path" class="form-control">
                <div class="text-danger" ng-if="errors.request_path" data-ng-bind="errors.request_path"></div>
                <p class="help-block">
                    The public path that points to your API. For example, <code>/someservice</code>. At least <code>request_host</code> or <code>request_path</code> or both should be specified.
                </p>
            </div>
            <div class="form-group highlight">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="api.strip_request_path"><strong>Strip Request Path</strong></label>
                </div>
                <p class="help-block">
                    Strip the request_path value before proxying the request to the final API. For example a request made to <code>/someservice/hello</code> will be resolved to <code>upstream_url/hello</code>. By default is false.
                </p>
            </div>
            <div class="form-group highlight">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="api.preserve_host"><strong>Preserve Host</strong></label>
                </div>
                <p class="help-block">
                    Preserves the original <code>Host</code> header sent by the client, instead of replacing it with the <code>hostname</code> of the <code>upstream_url</code>. By default is false.
                </p>
            </div>
            <div class="form-group highlight " ng-class="{'has-error' : errors.upstream_url}">
                <label class="control-label">Upstream URL</label>
                <input type="url" ng-model="api.upstream_url" class="form-control">
                <div class="text-danger" ng-if="errors.upstream_url" data-ng-bind="errors.upstream_url"></div>
                <p class="help-block">
                    The base target URL that points to your API server, this URL will be used for proxying requests. For example, <code>https://mockbin.com</code>.
                </p>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="submit()">
                    <i class="material-icons">&#xE876;</i>
                    Submit changes
                </button>
            </div>

        </form>
    </div>
</div>