<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="material-icons">settings_input_component</i>
            Assigned plugins
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th width="1"></th>
            <th>Name</th>
            <th>Consumer</th>
            <th>Created</th>
            <th width="1"></th>
            <th width="1"></th>
        </tr>
        <tr
                dir-paginate="item in plugins.data | orderBy:'created_at':true | itemsPerPage: 25 | filter : search">
            <td>
                <input
                        uib-tooltip="{{item.enabled ? 'Enabled' : 'Disabled'}}"
                        ng-change="updatePlugin(item)"
                        ng-model="item.enabled"
                        type="checkbox"/>
            </td>
            <th>{{item.name}}</th>
            <td>
                <a data-ng-if="item.consumer_id" data-ui-sref="consumers.edit({id:item.consumer_id})">{{item.consumer_id}}</a>
                <span data-ng-if="!item.consumer_id" >All consumers</span>
            </td>
            <td>{{item.created_at | date : format : timezone}}</td>

            <td>

                <i
                        uib-tooltip="Edit"
                        ng-click="onEditPlugin(item)"
                        class="material-icons text-warning clickable">&#xE254;</i>
            </td>
            <td>
                <i
                        uib-tooltip="Delete"
                        ng-click="onEditPlugin(item)"
                        ng-click="deletePlugin(item)"
                        class="material-icons text-danger clickable">&#xE872;</i>
            </td>
        </tr>
        <tr data-ng-if="plugins.data.length === 0">
            <td colspan="100%" class="text-center text-muted">
                <em>no data found...</em>
            </td>
        </tr>
    </table>
</div>