<div class="bg-light-grey padding margin-bottom">
    <h4 class="clearfix">
        <i class="mdi mdi-information-outline"></i>
        Service details
    </h4>
</div>

<div ng-if="!user.hasPermission('services','edit')">
    <div json-human="service" class="table-responsive"></div>
</div>

<form class="form-horizontal" (keydown.enter)="$event.preventDefault()" ng-if="user.hasPermission('services','edit')">
    <div ng-if="Gateway" data-ng-include="partial"></div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-7">
            <button type="button" class="btn btn-primary btn-block"
                    ng-click="updateService()">
                <i class="mdi mdi-check"></i>
                Submit changes
            </button>
        </div>
    </div>

</form>