
<div class="row">
    <div class="col-md-12 actions">
        <a  class="btn btn-primary" ng-click="openAddApiModal()">
            <i class="material-icons">&#xE145;</i>
            Add New Api
        </a>
    </div>
</div>
<div class="col-md-12 bg-light-grey padding">
    <div class="input-group col-sm-4 pull-left">
        <div class="input-group-addon">
            <i class="material-icons">&#xE8B6;</i>
        </div>
        <input type="text" data-ng-model="search" class="form-control" placeholder="search apis...">
    </div>
    <dir-pagination-controls class="pull-right"></dir-pagination-controls>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive" >
            <table class="table table-hover table-striped">
                <tr>
                    <th width="1"></th>
                    <th width="1"></th>
                    <th width="1"></th>
                    <th>Name</th>
                    <th>Upstream URL</th>
                    <th>Created</th>
                    <th width="1"></th>
                    <th width="1"></th>
                </tr>
                <tr
                        dir-paginate="api in apis.data | orderBy:'created_at':true | itemsPerPage: 25 | filter : search">
                    <td>

                        <i
                                uib-tooltip="Strip {{Gateway.version.indexOf('0.9.') > -1 ? 'Request Path' : 'Uri'}}"
                                ng-click="toggleStripRequestPathOrUri(api)"
                                data-ng-class="{'text-primary' : isRequestPathOrUriStripped(api),'text-muted' : !isRequestPathOrUriStripped(api)}"
                                class="material-icons clickable">
                            font_download
                        </i>


                    </td>
                    <td>
                        <i
                                uib-tooltip="Preserve Host"
                                ng-click="api.preserve_host=!api.preserve_host;updateApi(api)"
                                data-ng-class="{'text-primary' : api.preserve_host,'text-muted' : !api.preserve_host}"
                                class="material-icons clickable">
                            {{api.preserve_host ? 'cloud_done' : 'cloud_off'}}
                        </i>

                    </td>
                    <td>
                        <raw-view data-item="api"></raw-view>
                    </td>
                    <td>
                        <strong>
                            <a class="clickable" data-ui-sref="apis.edit({api_id:api.id})">{{ api.name || "-" }}</a>
                        </strong>
                    </td>
                    <td>{{ api.upstream_url || "-" }}</td>
                    <td>{{api.created_at | date : format : timezone}}</td>
                    <td>
                        <a ui-sref="apis.edit({ api_id: api.id })" class="btn btn-warning btn-link">
                            <i class="material-icons">edit</i>
                            edit
                        </a>
                    </td>
                    <td>
                        <button type="button" ng-click="deleteApi($index,api)" class="btn btn-danger btn-link">
                            <i class="material-icons">&#xE872;</i>
                            Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <dir-pagination-controls class="pull-right"></dir-pagination-controls>
    </div>
</div>

