<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Configuration
                </div>
            </div>
            <div class="list-group">
                <a
                        class="list-group-item clickable"
                        data-ng-show="section.isVisible"
                        ng-class="{'active' : sections[activeSection].name == section.name }"
                        data-ng-click="showSection($index)"
                        data-ng-repeat="section in sections">
                    <i class="material-icons" data-ng-bind-html="section.icon"></i>
                    {{section.name}}
                </a>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <div data-ui-view="details" ng-show="activeSection == 0"></div>
        <div data-ui-view="plugins" ng-show="activeSection == 1"></div>
        <div data-ui-view="healthchecks" ng-show="activeSection == 2"></div>
        <div ng-if="Gateway.version.indexOf('0.10.') > -1" data-ui-view="ssl" ng-show="activeSection == 3"></div>

    </div>
</div>
