
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li
                    role="presentation"
                    ng-class="{'active' : activeGroup == group.id}"
                    data-ng-click="setActiveGroup(group.id)"
                    data-ng-repeat="group in credentialGroups"
            >
                <a href>
                    {{group.name}}
                </a>
            </li>
        </ul>

    </div>
    <div class="col-md-9">
        <div class=""
             data-ng-repeat="group in credentialGroups | filter : filterGroup"
             ng-include="'js/app/consumers/credentials/' + group.id +'.html'"></div>

    </div>
</div>