<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        HMAC Auth
        <a  class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
    <p class="text-muted no-margin">Create HMAC credentials for <strong><span class="text-success">{{consumer.username || consumer.custom_id}}</span></strong></p>
</div>

<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group" ng-class="{'has-error' : errors.username}">
            <label class="col-sm-4 control-label">username <br><em><small class="help-block">required</small></em></label>
            <div class="col-sm-7">
                <input ng-model="credentials.username" class="form-control">
                <div class="text-danger" ng-if="errors.username" data-ng-bind="errors.username"></div>
                <p class="help-block">The username to use in the HMAC Signature verification</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : errors.secret}">
            <label class="col-sm-4 control-label">secret <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input ng-model="credentials.secret" class="form-control">
                <div class="text-danger" ng-if="errors.secret" data-ng-bind="errors.secret"></div>
                <p class="help-block">The secret to use in the HMAC Signature verification</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="submit" class="btn btn-primary" ng-click="createHMACAuthCredentials()">
                    <i class="mdi mdi-check"></i>
                    Submit
                </button>
            </div>
        </div>

    </form>
</div>