<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        Create Api Key
        <a  class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
    <p class="text-muted no-margin">Create Api Key for <strong><span class="text-success">{{consumer.username || consumer.custom_id}}</span></strong></p>
</div>

<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group" ng-class="{'has-error' : errors.key}">
            <label class="col-sm-4 control-label">key <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input ng-model="key.value" class="form-control">
                <div class="text-danger" ng-if="errors.key" data-ng-bind="errors.key"></div>
                <p class="help-block">You can optionally set your own unique <code>key</code> to authenticate the client. If missing, Kong will generate one.</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="submit" class="btn btn-primary" ng-click="createApiKey()">
                    <i class="mdi mdi-check"></i>
                    Submit
                </button>
            </div>
        </div>

    </form>
</div>