<div class="bg-light-grey padding margin-bottom">
    <h4 class=" clearfix">
        <i class="mdi mdi-fingerprint"></i>
        JWT
        <button
                ng-click="createJWT()"
                class="btn btn-primary btn-sm pull-right">
            <i class="mdi mdi-plus"></i>
            create jwt
        </button>
    </h4>
    <p class="help-block" ng-if="!jwts || !jwts.data.length">
        You have not created any jwt credentials for this consumer yet
    </p>
</div>

<div class="table-responsive" ng-if="jwts && jwts.data.length">
    <table class="table table-clean">
        <tr data-ng-repeat="jwt in jwts.data | orderBy : created_at : true">
            <td><pre>{{jwt | json}}</pre></td>
            <td width="1" class="no-wrap">
                <strong>Created</strong><br>
                {{jwt.created_at * 1000 | date : format : timezone}}
            </td>
            <td width="1">
                <button type="button" ng-click="deleteJWT($index,jwt)" class="btn btn-danger btn-link">
                    <i class="mdi mdi-delete"></i>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>
