<div class="bg-light-grey padding margin-bottom">
    <h4 class="clearfix">
        <i class="mdi mdi-key"></i>
        Api Keys
        <button
                ng-click="createApiKey()"
                class="btn btn-primary btn-sm pull-right">
            <i class="mdi mdi-plus"></i>
            create api key
        </button>
    </h4>
    <p class="help-block" ng-if="!keys || !keys.data.length">
        You have not created any keys for this consumer yet
    </p>
</div>

<div class="table-responsive" ng-if="keys && keys.data.length">
    <table class="table table-hover table-striped table-condensed">
        <tr>
            <th>#</th>
            <th>key</th>
            <th>created</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="key in keys.data">
            <td width="1">{{$index+1}}.</td>
            <th>{{key.key}}</th>
            <td width="1" class="no-wrap">{{key.created_at * 1000 | date : format : timezone}}</td>
            <td width="1">
                <button type="button" ng-click="deleteKey($index,key)" class="btn btn-danger btn-link">
                    <i class="mdi mdi-delete"></i>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>