<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        Mass Assign Credentials
        <a  class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
    <p class="text-muted no-margin">Select the type of credential to assign to all <strong>{{consumers.length}}</strong> selected consumers
</div>
<!--<div class="modal-body">-->

<!--</div>-->
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a  ng-click="onCredentialSelected(cred.value)"
               class="list-group-item"
               data-ng-repeat="cred in credentials">
                <p class="list-group-item-heading"><strong>{{cred.name}}</strong></p>
                <p class="list-group-item-text help-block" data-ng-bind-html="cred.description"></p>
            </a>
        </div>
    </div>
</div>