<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="alert alert-info">-->
            <!--<p>-->
                <!--<span data-ng-if="user.admin"><i class="material-icons">add</i> Create one or more connections.<br></span>-->
                <!--<i class="material-icons">add</i> Select the connection you want to use by clicking on the corresponding star icon.-->
            <!--</p>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-md-12 actions">
        <button class="btn btn-primary pull-left" ng-click="createNode()" ng-if="user.admin">
            <i class="material-icons">&#xE145;</i>
            new connection
        </button>
        <list-search
                class="pull-right margin-right"
                data-filters="filters"
                data-options="itemsPerPageOptions"
                data-items="itemsPerPage"
        ></list-search>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-hover table-striped">
            <tr>
                <th width="{{item.width}}" class="text-nowrap"
                    data-ng-repeat="item in nodeTitleItems | filter:titleFilter"
                >
                    <a
                            data-ng-show="item.column"
                            class="clickable"
                            data-ng-click="changeSort(item)"
                            data-ng-bind-html="item.title.toUpperCase()"
                    ></a>
            <span
                    data-ng-show="!item.column"
                    data-ng-bind-html="item.title.toUpperCase()"
            ></span>

                    <i class="fa"
                       data-ng-show="sort.column == item.column"
                       data-ng-class="{'fa-angle-down': !sort.direction, 'fa-angle-up': sort.direction}"
                    ></i>
                </th>
                <th width="1" ng-if="user.admin"></th>
                <th width="1" ng-if="user.admin"></th>
            </tr>
            <tr data-ng-repeat="node in nodes">

                <td>
                    <i class="mdi clickable"
                       tooltip-append-to-body="true"
                       uib-tooltip="Toggle active"
                       ng-click="toggleActive(node)"
                       ng-class="{'mdi-star text-warning' : user.node && user.node.id == node.id,'mdi-star-outline' :  user.node.id != node.id}"
                    ></i>

                </td>
                <td data-ng-if="user.admin">

                    <i
                            ng-if="node.health_checks"
                            class="mdi"
                            uib-tooltip="{{node.health_check_details ? ( node.health_check_details.isHealthy ? 'Healthy' : 'Down or unresponsive' ) : 'N/A'}}"
                            data-ng-class="{'mdi-loading mdi-spin': Object.keys(node.health_check_details).length == 0,'mdi-heart-broken text-danger': node.health_check_details && !node.health_check_details.isHealthy,'mdi-heart-pulse text-success': node.health_check_details && node.health_check_details.isHealthy}"></i>


                    <i style="opacity: .5" uib-tooltip="HC disabled" ng-if="!node.health_checks" class="mdi mdi-heart-outline"></i></td>

                    <!--<i-->
                            <!--uib-tooltip="{{node.health_check_details ? ( node.health_check_details.isHealthy ? 'Healthy' : 'Down or unresponsive' ) : 'N/A'}}"-->
                            <!--class="mdi mdi-heart-pulse"-->
                            <!--ng-if="node.health_checks" class="material-icons"-->
                            <!--data-ng-class="{'text-danger': node.health_check_details && !node.health_check_details.isHealthy,'text-success': node.health_check_details && node.health_check_details.isHealthy}"></i>-->

                    <!--<i uib-tooltip="HC disabled" ng-if="!node.health_checks" class="mdi mdi-heart-pulse"></i>-->
                </td>
                <td><a  editable-text="node.name" onbeforesave="updateNode(node)">{{node.name || 'undefined'}}</a></td>
                <td>
                    <a  editable-text="node.kong_admin_url" onbeforesave="updateNode(node)">{{node.kong_admin_url}}</a>
                </td>
                <td>
                    <a href="#"
                       editable-select="node.kong_version"
                       onaftersave="updateNode(node)"
                       e-ng-options="s.value as s.name for s in kong_versions">
                        {{ node.kong_version.split("-").join(".") }}
                    </a>
                </td>
                <td>{{node.createdAt | date : "MMM d, y"}}</td>
                <td width="1" data-ng-if="user.admin">
                    <button class="btn btn-default btn-link"
                            ng-click="onShowStatusCheck(node)">
                        <i class="mdi mdi-heart-pulse"></i>
                        health checks
                    </button>
                </td>
                <td  width="1" data-ng-if="user.admin">
                    <button class="btn btn-danger btn-link" ng-click="deleteNode(node)">
                        <i class="material-icons">delete</i>
                        Delete
                    </button>
                </td>
            </tr>

            <tr data-ng-if="nodes.length === 0">
                <td colspan="100%" class="text-center">
                    <h5>No connections found...</h5>
                </td>
            </tr>
        </table>

        <ul uib-pagination
            class="pagination"
            data-total-items="itemCount"
            data-ng-model="paging.currentPage"
            data-ng-change="pageChanged()"
            data-items-per-page="itemsPerPage"
            data-max-size="10"
            data-boundary-links="true"
            data-rotate="false"
        ></ul>
    </div>
</div>
