<form name="loginForm" method="post" novalidate="novalidate">
    <div class="form-group form-group-lg"
         data-show-errors
         ng-class="{'has-error' : errors.username}"
    >
        <input type="text" name="username" class="form-control username"
               placeholder="Username..." autofocus autocomplete="off" required="required"
               data-focus-on="username"
               data-ng-model="user.username"
        />
        <p class="help-block no-margin" ng-show="loginForm.username.$touched && loginForm.username.$error.required">The username is required.</p>
        <p class="help-block no-margin" ng-show="loginForm.username.$error.custom">{{loginForm.username.$error.custom}}</p>

    </div>

    <div class="form-group form-group-lg"
         ng-class="{'has-error' : errors.email}"
         data-show-errors
    >
        <input type="email" name="email"
               class="form-control password"
               placeholder="Email..." required="required"
               data-ng-model="user.email"
        />
        <p class="help-block no-margin" ng-show="loginForm.email.$touched && loginForm.email.$error.required">The email is required.</p>
        <p class="help-block no-margin" ng-show="loginForm.email.$touched && loginForm.email.$invalid">The email is invalid.</p>


    </div>
    <div class="form-group form-group-lg"
         data-show-errors
         ng-class="{'has-error' : errors.password}"
    >
        <input autocomplete="new-password" type="password" name="password"
               class="form-control password"
               placeholder="Password..." required="required"
               data-ng-model="user.passports.password"
        />
        <p class="help-block no-margin" ng-show="loginForm.password.$touched && loginForm.password.$error.required">Password is required.</p>


    </div>
    <div class="form-group form-group-lg"
         ng-class="{'has-error' : errors.password_confirmation}"
         data-show-errors="{ trigger: 'keypress' }"
    >
        <input
                ng-pattern="user.passports.password"
                autocomplete="new-password" type="password" name="password_confirmation"
               class="form-control password"
               placeholder="Confirm password..." required="required"
               data-ng-model="user.password_confirmation"
        />
        <div ng-messages="loginForm.password_confirmation.$error" ng-if="loginForm.password_confirmation.$dirty && loginForm.password_confirmation.$invalid">
            <p class="help-block no-margin" ng-message="required">Password confirmation is required</p>
            <p class="help-block no-margin" ng-message="pattern">Password and password confirmation don't match.</p>

        </div>
    <br>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block"
                data-ng-click="signup()"
                data-ng-disabled="!loginForm.$valid || busy"
        >
            signup
        </button>
    </div>



</form>
