@import "mixins";

@import 'variables';
@import 'bootswatch';
@import 'forms';
@import 'components';
@import 'bootstrap_over';
@import 'angular';


$color-footer-text: #999;
$color-footer-hover-text: #3399f3;
$color-footer-hover-icons: #337bd5;
$color-tooltip-title: #fff;
$color-tooltip-title-border: #9b9b9b;

body {
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  overflow-y: auto;
  font-size: 1.4em;
  background-color: #f9f9f9;

}



h1,
h2,
h3,
h4,
h5,
h5 {
  color: #414141;
  &:first-of-type {
    margin-top: 10px;
  }
}

.no-select {
  @include no-select();
}

.container {
  //max-width: 100%;
  //min-width: 100%;
}

.main-container {
  margin-bottom: 30px;
  //margin-top: 65px;
  padding-top: 20px;
}

.home{
  padding-top: 80px;


}

#toast-container > div,#toast-container > :hover{
  box-shadow: none;
}

#toast-container > div{
  padding: 15px;
}

.toast-error{
  background-color: $brand-danger;
}

.toast-success{
  background-color: $brand-success;
}

.toast-warning{
  background-color: $brand-warning;
}

.konga-nav-icon{
  height: 25px;
  float: left;
  margin-right: 5px;

}

.navbar:before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $brand-success;
}

header .navbar-nav {

  float: none;
}

.page-title {
  font-size: 2em;
}

.page-head{
  margin-top: 65px;
  padding: 1em;
  background-color: #f2f2f2;

  .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
}

.material-icons.large{
  font-size: 3em;
}

.no-wrap{
  white-space: nowrap;
}

.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}

.elipsize {
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  .navbar {
    max-height: 25px;
    min-height: 25px;
    text-align: center;

    .navbar-nav {
      float: none;

      > li {
        display: inline-block;
        float: none;

        > a {
          font-size: 11px;
          line-height: 25px;
          padding: 0 10px;

          .fa {
            color: $color-footer-text;
            font-size: 14px;
            margin-right: 3px;
            position: relative;
            top: 1px;
          }

          &:hover {
            color: $color-footer-hover-text;

            .fa {
              color: $color-footer-hover-icons;
            }
          }
        }
      }
    }
  }
}

.no-margin {
  margin:0 !important;
}

.no-padding{
  padding:0 !important;
}

.no-select {

}

.pagination {
  margin: 0;
}

.text-medium {
  font-size: 90%;
}

.text-small {
  font-size: 80%;
}

.help {
  .fa {
    font-size: 20px;
    line-height: 14px;
    margin: 0 0 0 5px;
    position: relative;
    top: 2px;
  }
}

.tooltip {
  .title {
    border-bottom: 1px solid $color-tooltip-title-border;
    color: $color-tooltip-title;
    margin: 3px 0 5px;
    padding: 0;
  }

  .tooltip-inner {
    text-align: left;
  }
}

.sidebar {
  padding-left: 0 !important;
}

.margin-right{
  margin-right:15px;
}

.inline {
  display: inline-block !important;
}

.actions{
  //margin-top: 1em;
  margin-bottom: 1em;
  text-align: right;

  .pagination-sm {
    margin-top: 5px;
  }

  .form-group {
    margin: 0;
  }
}

.opaque{
  opacity: 0;
}
.padding-left  {
  padding-left: 15px;
}
.padding-right  {
  padding-right: 15px;
}
.padding-top  {
  padding-top: 15px;
}
.padding-bottom  {
  padding-bottom: 15px;
}
.no-padding-left {
  padding-left: 0;
}

tr.danger{
  th{
    color: $brand-danger;
  }
}

.elevate-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.elevate-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.elevate-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.elevate-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.elevate-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.table {
  tr{
    th,td{
      vertical-align: middle !important;
    }
  }
}

.page-title-prefix{
  .material-icons {
    font-size: 1.2em;
    float: left;
    margin-right:10px;
  }

}

.modal-close{
  color: #999;
  margin-top: -10px;
}

.modal-close:hover, .modal-close:focus{
  color: #313131;
}


#toast-container > .toast-error,
#toast-container > .toast-warning,
#toast-container > .toast-info,
#toast-container > .toast-success{
  background-image: none !important;
}

.page-title {
  //color: $brand-success;
}

.home {
  .jumbotron{
    padding: 0 !important;
    margin-top: 40px;
  }
}

.jumbotron {


  .panel {

    &.panel-default {
      .panel-heading{
        background-color: #fafafa;
      }
    }
    .material-icons {
      font-size: 4em;
    }
    .help-block {
      font-size: 1em;
    }
  }
}

pre {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  border-radius: 3px;
}

.table-clean tr th, .table-clean tr td, .table-clean tr{
  border: none !important;
}

.capitalize {
  text-transform: capitalize;
}

.clickable{
  cursor: pointer;
}


.jh-root tr th,.jh-root tr td{
  padding-left: 1em;
}

.modal-body.add-plugin{
  padding-top: 0;
  padding-bottom: 0;
}

.modal-body.add-plugin > .row{
  padding-bottom: 1em;
}
.modal-body.add-plugin > .row:nth-of-type(2n){
  background-color: #f4f4f4;
}

.padding{
  padding: 15px;
}

.bg-light-grey{
  background-color: #f4f4f4;
}

.default-chip{
  border-radius: 20px;
}

.nav{


  .dropdown-menu{
    padding: 0;

    li {
      &.divider{
        margin:0
      }
      a{
        padding: 10px 10px;
      }
    }
  }

}

.nav-auth-img-container {
  padding:12px !important;
  cursor: pointer;
  img{
    height: 40px;
    border-radius: 50%;
    border: 1px solid $brand-success;
    padding: 2px;
  }
}


