<table class="table table-hover table-striped">
    <tr>
        <th>Name</th>
        <th>Request Host</th>
        <th>Request Path</th>
        <th>Strip request path</th>
        <th>Preserve Host</th>
        <th>Upstream URL</th>
        <th>Created</th>
        <th></th>
        <th></th>
    </tr>
    <tr data-ng-repeat="api in apis.data | orderBy:'created_at':true">
        <td>
            <a href="#" editable-text="api.name" onbeforesave="updateApi(api)">{{ api.name || "empty" }}</a>
        </td>
        <td><a href="#" editable-text="api.request_host" onbeforesave="updateApi(api)">{{ api.request_host || "empty" }}</a></td>
        <td><a href="#" editable-text="api.request_path" onbeforesave="updateApi(api)">{{ api.request_path || "empty" }}</a></td>
        <td>
            <input
                    bs-switch
                    ng-model="api.strip_request_path"
                    switch-size="small"
                    type="checkbox"
                    switch-on-text="YES"
                    switch-off-text="NO"
                    ng-change="updateApi(api)"
            >
        </td>
        <td>
            <input
                    bs-switch
                    ng-model="api.preserve_host"
                    switch-size="small"
                    type="checkbox"
                    switch-on-text="YES"
                    switch-off-text="NO"
                    ng-change="updateApi(api)"
            >
        </td>
        <td><a href="#" editable-text="api.upstream_url" onbeforesave="updateApi(api)">{{ api.upstream_url || "empty" }}</a></td>
        <td>{{api.created_at | date : format : timezone}}</td>
        <td>
            <a ui-sref="admin.apis.plugins({ apiId: api.id, api:api })" class="btn btn-warning btn-link">
                <i class="material-icons">&#xE226;</i>
                Plugins
            </a>
        </td>
        <td>
            <button type="button" ng-click="deleteApi($index,api)" class="btn btn-danger btn-link">
                <i class="material-icons">&#xE872;</i>
                Delete
            </button>
        </td>
    </tr>
</table>