.form-login {
  margin-top: 100px;

  .form-group{
    float: left;
    width: 100%;

    label{
      text-align: right;
    }

    input{
      padding-left: 15px;
    }
  }
}
//.form-login {
//  margin: 0 auto;
//  max-width: 250px;
//  padding: 15px;
//
//  .title {
//    font-size: 26px;
//    text-align: center;
//  }
//
//  .checkbox {
//    font-weight: normal;
//
//    input {
//      float: none;
//      position: relative;
//      top: 1px;
//    }
//  }
//
//  .form-group {
//    margin-bottom: 0;
//  }
//
//  .form-control {
//    text-align: center;
//
//    &:focus {
//      z-index: 2;
//    }
//  }
//
//  .username {
//    border-bottom-left-radius: 0;
//    border-bottom-right-radius: 0;
//  }
//
//  .password {
//    border-radius: 0;
//  }
//
//  .btn {
//    border-top-left-radius: 0;
//    border-top-right-radius: 0;
//  }
//}
