<footer>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate" target="_blank">
                        <i class="fa fa-github"></i>GitHub
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate/issues" target="_blank">
                        <i class="fa fa-bug"></i>Issues
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tarlepp/" target="_blank">
                        <i class="fa fa-user"></i>Tarmo Leppänen
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>