.page-login{
  margin-top: 80px;
  .login-form-container{
    margin: auto;
    width: 350px;
    max-width: 90%;

    .form-group{
      &.has-error{
        background-color: transparent !important;
      }
    }
  }
}