.sidenav-container{

  box-shadow: 0px 1px 4px rgba(0,0,0,0.24);
  z-index: 2;

  //box-shadow: 0px 4px 4px #231F20;
  //-webkit-box-shadow: 0px 4px 4px #231F20;
  //-mox-box-shadow: 0px 4px 4px #231F20;

  //font-size: 1.1em;

  .navbar-primary{
    background-color: $brand-primary;
    border-radius: 0;
  }

  background: #fff;
  border-right: 1px solid #eaeaea;

  .sidenav{
    .sidenav-heading{
      &:hover{
        background-color: transparent;
      }
      font-weight: bold;
    }

    .nav-pills > li.active{
      &:before{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width:3px;
        background-color: $brand-primary;
      }
    }
    .nav-pills > li.active > a {

      background-color: #f2f2f2;

      color: $brand-primary;
      font-weight: bold;
    }
    .nav-pills > li > a{
      color: $gray;
      border-radius: 0px;
      .mdi{
        margin-right:10px;
      }
    }
  }

}