.navbar-main{

  border-radius: 0px !important;
  .navbar-brand{
    width: $sidenav-width;
    padding-top: 3px !important;
    background-color: darken($brand-royal,5%);
    &:hover,&:focus{
      background-color: darken($brand-royal,2%);
    }
  }

  @media (min-width: 768px) {
    .navbar-toggle {
      display: block;
    }
  }
}
