.navbar-main{

  border-radius: 0px !important;
  background-color: transparent;
  box-shadow: none;

  .navbar-brand{
    font-size: 2em !important;
  }
  

  @media (min-width: 768px) {
    .navbar-toggle {
      display: block;
    }
  }

  .navbar-toggle{
    float: left;
    padding-left: 25px;
  }
}
