<div class="row">
    <div class="col-md-12">
        <h3>{{node.name}}</h3>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="material-icons text-danger">healing</i>
                    Health Checks
                    <div class="pull-right">
                        <input
                                bs-switch
                                ng-model="node.healthChecks"
                                switch-size="small"
                                type="checkbox"
                                switch-on-text="ENABLED"
                                switch-off-text="DISABLED"
                        >
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <h4>Email Notifications</h4>
                <div class="form-group">
                    <chips ng-model="value.value">
                        <chip-tmpl>
                            <div class="default-chip">
                                {{chip}}
                                <i class="material-icons" remove-chip>clear</i>
                            </div>
                        </chip-tmpl>
                        <input chip-control/>
                    </chips>
                    <p class="help-block text-small">
                        Write the email addresses to which Konga will send email notifications when this node is offline or unresponsive
                        <br>
                        <strong>Tip : </strong> Press <code>Enter</code> after writing an email address.
                    </p>
                </div>
                <br>
                <h5>Transports</h5>
                <p class="help-block text-small">
                   Select the transport to use.
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr data-ng-repeat="transport in transports">
                            <td width="1">
                                <div>
                                    <i class="material-icons text-primary">{{transport.isChecked ? '&#xE834;' : '&#xE835;'}}</i>
                                </div>
                            </td>
                            <th>{{transport.name}}</th>
                            <td>{{transport.description}}</td>
                            <td width="1">
                                <button class="btn btn-primary btn-link">
                                    <i class="material-icons">settings</i>
                                    configure
                                </button>
                            </td>

                        </tr>
                    </table>
                </div>



            </div>
        </div>
        <!--<h5>-->
            <!--<i class="material-icons text-danger">healing</i>-->
            <!--Health Checks-->
        <!--</h5>-->

    </div>
</div>
