
<div class="row">
    <div class="col-md-12 actions">
        <a href="#" class="btn btn-success" ng-click="openCreateConsumerModal()">
            <i class="material-icons">&#xE145;</i>
            Create consumer
        </a>
        <a href="#" class="btn btn-danger" ng-click="deleteChecked()">
            <i class="material-icons">delete</i>
            delete selected
        </a>
        <a href="#" class="btn btn-warning" ng-click="importConsumers()">
            <i class="material-icons"><i class="material-icons">&#xE2C6;</i></i>
            Import
        </a>
    </div>

</div>
<div class="col-md-12 bg-light-grey padding">
    <ul uib-pagination
        class="pagination pull-right"
        data-total-items="itemCount"
        data-ng-model="paging.currentPage"
        data-ng-change="pageChanged()"
        data-items-per-page="itemsPerPage"
        data-max-size="10"
        data-boundary-links="true"
        data-rotate="false"
    ></ul>
    <list-search
            class="pull-left margin-right"
            data-filters="filters"
            data-options="itemsPerPageOptions"
            data-items="itemsPerPage"
    ></list-search>
</div>
<div class="row">


    <div class="col-md-12">
        <div
                class="table-responsive"
                data-ng-include="'/frontend/admin/consumers/partials/consumers-table.html'">
        </div>
    </div>
</div>

