<div class="list-search-filters">
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="input-group" uib-dropdown is-open="status.isopen">
                <span class="input-group-addon" uib-dropdown-toggle>
                    <i class="mdi mdi-magnify"></i>
                </span>
                <input class="form-control" type="text" placeholder="search..."
                    data-ng-model-options="{debounce: 500}"
                    data-ng-model="filters.searchWord"
                />
                <!--<span class="input-group-addon clickable">-->
                    <!--<button type="button" class="btn btn-primary btn-sm" data-ng-click="search()">-->
                        <!--Search-->
                    <!--</button>-->

                <!--</span>-->

                <!--<ul uib-dropdown-menu class="dropdown-menu animated fadeInDownShort go dropdown-menu-arrow" role="menu">-->
                    <!--<li class="title padding-left">Affected columns</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li data-ng-repeat="column in filters.columns | filter: inSearch">-->
                        <!--<a  data-ng-click="column.inSearch = !column.inSearch; $event.preventDefault(); $event.stopPropagation();">-->
                            <!--<i class="material-icons"-->
                                <!--data-ng-class="{'opaque': !column.inSearch}"-->
                            <!--&gt;done</i>-->


                            <!--<span-->
                                <!--data-ng-if="column.titleSearch"-->
                                <!--data-ng-bind="column.titleSearch"-->
                            <!--&gt;</span>-->

                            <!--<span-->
                                <!--data-ng-if="!column.titleSearch"-->
                                <!--data-ng-bind="column.title"-->
                            <!--&gt;</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->


            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    Results :
                </span>
                <select class="form-control"
                        data-ng-model="items"
                        data-ng-options="page for page in options"
                >
                </select>
            </div>

        </div>
    </form>
</div>

