<div class="row page-login">
    <div class="col-md-12 text-center">

        <div class="login-form-container">

            <!--<div class="panel panel-default no-margin">-->
                <!--<div class="panel-heading">-->
                    <!--<img ng-src="images/konga-logo-white-no-icon.png" class="img-responsive padding"/>-->
                    <!--&lt;!&ndash;<h3 class="text-white">KONGA</h3>&ndash;&gt;-->
                    <!--<ul class="nav nav-tabs nav-justified">-->
                        <!--<li ui-sref="auth.login" ui-sref-active="active"><a>LOGIN</a></li>-->
                        <!--<li ui-sref="auth.signup" data-ng-if="KONGA_CONFIG.signup_enable" ui-sref-active="active"><a>SIGNUP</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

                <!--<div class="panel-body">-->
                    <!--<div data-ui-view="authContent"></div>-->
                    <!--<p class="help-block text-center">KONGA {{konga_version}}</p>-->
                <!--</div>-->
            <!--</div>-->

            <img ng-src="images/konga-logo-small.png" class="img-responsive"/>
            <br>

            <!--<ul class="nav nav-tabs nav-justified">-->
            <!--<li ui-sref="auth.login" ui-sref-active="active"><a>LOGIN</a></li>-->
            <!--<li ui-sref="auth.signup" data-ng-if="KONGA_CONFIG.signup_enable" ui-sref-active="active"><a>SIGNUP</a></li>-->
            <!--</ul>-->

            <div data-ui-view="authContent"></div>
            <br>
            <p class="help-block text-center">KONGA {{konga_version}}</p>

        </div>
    </div>
</div>