<div class="modal-header warning">
    <h5 class="modal-title" id="modal-title">
        Create Node
        <a href="#" class="modal-close pull-right" ng-click="close()">
            <i class="material-icons">clear</i>
        </a>

    </h5>
</div>
<div class="col-md-12 bg-light-grey padding">
    <p class="text-muted no-margin">
        After creating a Node, you will need to activate it in order to be able to connect to Kong's admin API.<br>
        <strong>There can be only one active Node.</strong>
    </p>
</div>
<div class="modal-body">

    <form class="form-horizontal">
        <div class="form-group" ng-class="{'has-error' : errors.name}">
            <label class="col-sm-4 control-label">Name <br><em><small class="help-block">required</small></em></label>
            <div class="col-sm-7">
                <input ng-model="node.name" class="form-control">
                <div class="text-danger" ng-if="errors.name" data-ng-bind="errors.name"></div>
                <p class="help-block">A unique node name.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : errors.kong_admin_url}">
            <label class="col-sm-4 control-label">Kong Admin URL <br><em><small class="help-block">required</small></em></label>
            <div class="col-sm-7">
                <input ng-model="node.kong_admin_url" class="form-control">
                <div class="text-danger" ng-if="errors.kong_admin_url" data-ng-bind="errors.kong_admin_url"></div>
                <p class="help-block">The URL to Kong's admin api.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="submit" data-ng-disabled="busy" class="btn btn-primary" ng-click="create()">
                    <i class="material-icons" ng-if="!busy">&#xE876;</i>
                    <fading-circle-spinner class="spinner spinner-invert pull-left" ng-if="busy"></fading-circle-spinner>
                    add node
                </button>
            </div>
        </div>
    </form>
</div>