<form name="loginForm" method="post" novalidate="novalidate">
    <div class="form-group form-group-lg"
         data-show-errors
    >
        <input type="text" name="username" class="form-control username"
               placeholder="Username or Email..." autofocus autocomplete="off" required="required"
               data-focus-on="username"
               data-ng-model="credentials.identifier"
        />
        <p class="help-block no-margin" ng-show="loginForm.username.$touched && loginForm.username.$error.required">Username or Email is required.</p>

    </div>

    <div class="form-group form-group-lg"
         data-show-errors
    >
        <input autocomplete="new-password" type="password" name="password"
               class="form-control password"
               placeholder="Password..." required="required"
               data-ng-model="credentials.password"
        />
        <p class="help-block no-margin" ng-show="loginForm.password.$touched && loginForm.password.$error.required">Password is required.</p>


    </div>
    <br>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block"
                data-ng-click="login()"
                data-ng-disabled="!loginForm.$valid"
        >
            Login
        </button>
    </div>


</form>
