<div class="row">
    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>
                Kong Nodes
            </uib-tab-heading>
            <br>
            <!--<h4>-->
            <!--<i class="material-icons">&#xE335;</i>-->
            <!--Kong Nodes-->
            <!--</h4>-->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <p>
                            <i class="material-icons">add</i> Create one or more nodes.<br>
                            <i class="material-icons">add</i> Select the node to connect to by clicking on the corresponding star icon.
                        </p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 actions">
                    <button class="btn btn-primary pull-left" ng-click="createNode()">
                        <i class="material-icons">&#xE145;</i>
                        new node
                    </button>
                    <list-search
                            class="pull-right margin-right"
                            data-filters="filters"
                            data-options="itemsPerPageOptions"
                            data-items="itemsPerPage"
                    ></list-search>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div
                            class="table-responsive"
                            data-ng-include="'js/app/settings/partials/nodes-table.html'">
                    </div>
                </div>

            </div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                General Settings
            </uib-tab-heading>
            <br>
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">Kong version</label>
                        <select
                                data-ng-change="updateSettings()"
                                class="form-control" ng-model="general_settings.kong_version" ng-options="item.value as item.name for item in kong_versions">
                        </select>
                        <p class="help-block">
                            Kong's Admin API version.
                        </p>
                    </div>

                </form>
            </div>

        </uib-tab>
    </uib-tabset>

</div>
