<div class="panel panel-default">
    <div class="panel-heading primary">
        <div class="panel-title">
            Groups
            <!--<div class="pull-right">-->
                <!--<button-->
                        <!--data-ng-click="addGroup()"-->
                        <!--class="btn btn-primary btn-link pull-right"-->
                        <!--style="margin-top: -5px">-->
                    <!--<i class="mdi mdi-plus"></i>-->
                    <!--new group-->
                <!--</button>-->
            <!--</div>-->

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4" data-ng-repeat="acl in acls">
                <div
                        class="panel panel-default panel-flat">
                    <i
                            data-ng-click="deleteGroup(acl)"
                            class="mdi mdi-close clickable pull-right margin-top margin-right"></i>
                    <div class="panel-body elipsize" style="padding-right: 30px">
                        <span class=" no-wrap ">
                            <i class="mdi mdi-account-multiple-outline"></i>
                            <strong>{{acl.group}}</strong>

                        </span>
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div
                        data-ng-click="addGroup(consumer)"
                        class="panel panel-dashed panel-flat clickable">
                    <div class="panel-body elipsize">
                        <span class=" no-wrap">
                            <i class="mdi mdi-plus"></i>
                            Add a group
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>